.FlexColumns {
	margin: auto;
	max-width: 1400px;
	
	div {
		padding: 1rem 1rem;
	}
}


.ImageColumn {
	flex: 6 1 500px;
}

.TextColumn {
	flex: 5 2 400px;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
